/**DOS COLUMNAS**/
@media (min-width: 768px) {
    .dos-columnas .row {
        display: grid;
        grid-template-columns: repeat(2, 1fr) !important;
        column-gap: 2rem;
    }
}

.dos-columnas img {
    border-radius: 10%;
}