/**BARRA DE NAVEGACION: NAVBAR**/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.navbar a img {
    width: 10rem;
}

/**NAVEGACION: NAV**/

.nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.8rem;
    margin-right: 2rem;
}

.nav a:hover {
    color: #ff6161;
}


.nav img {
    margin-right: 1rem;
}