/**BARRA DE NAVEGACION: NAVBAR**/

.contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a img {
    width: 12rem;
    margin: 0 !important;
}


/**NAVEGACION: NAV**/
.nav a:hover,
.usercircle:hover {
    color: #ff6161;
}

ul {
    display: inline-flex;
    list-style: none;
    color: #fff;
}

li {
    width: 9rem;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.8rem;
}

.tamañoImagen {
    width: 4rem !important;
}

.sub-menu {
    display: block;
    position: absolute;
}

div li,
.sub-menu li {
    margin: 0;
    padding: 0;
}

.sub-menu li a {
    font-size: 1.5rem !important;
}

.sub-menu li input {
    color: #fff;
    width: 11.5rem;
    background-color: #333333;
    padding: 1rem;
    margin-bottom: 0.1rem !important;
}

.sub-menu li input:hover {
    color: #ff6161;
}