/**CATALOGO FILTRADO**/
.catalogo .row {
    display: flex;
    justify-content: space-between;
}

.catalogo .col_3 {
    flex-basis: calc(33.3% - 1rem);
    text-align: center;
    padding: 2rem 2rem;
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
    margin: 2rem 0;
}

.catalogo .col_3:hover {
    transform: translateY(-1rem);
}

.titulos {
    display: flex;
    justify-content: space-between;
}

.catalogo .col_3 h3 {
    text-transform: uppercase;
    font-size: 1.6rem;
}

.catalogo .col_3 img {
    height: 30rem;
    width: 40rem;
    border-radius: 1rem;
}

.price {
    color: #1da128;
    font-size: 1.6rem;
    text-align: left;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.botones {
    display: flex;
    justify-content: space-between;
}

.btn_ver_detalle,
.btn_agregar_carrito {
    display: inline-block !important;
    flex-basis: calc(50% - 2rem);
    color: #fff;
    background-color: #eb6864 !important;
    border-color: #eb6864 !important;
    text-align: center !important;
    vertical-align: middle !important;
    cursor: pointer;
}

.btn_ver_detalle:hover,
.btn_agregar_carrito:hover {
    background-color: #eb4943 !important;
    cursor: pointer;
}


/*************MENU DETALLE ********************/
.modal_menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: -20px 0 50px;
}

.modal_container_menu {
    background: #fff;
    border-radius: 10px;
    position: relative;
    overflow: scroll;
    width: 580px;
    max-width: 100%;
    max-height: 590px;
}

.row_menu_detalle {
    padding: 0 1rem;
}

.row_menu_detalle .menu_detalle_descripcion {
    text-transform: uppercase;
    text-align: center;
}

.row_menu_detalle img {
    border-radius: 1rem;
}

.li_ingredientes {
    color: #000000;
    width: 100%;
    list-style-type: circle;
}

.flex_menu_detalle {
    display: flex;
    justify-content: space-between;
}