/**************CARRITO ******/
.modal-carrito {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: -20px 0 50px;
}

.modal-container-carrito {
    background: #fff;
    border-radius: 10px;
    position: relative;
    overflow: scroll;
    width: 800px;
    max-width: 100%;
    max-height: 590px !important;
}

.form-container-carrito form {
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-row {
    min-width: 70%;
    display: flex;
    justify-content: space-between;
}

label {
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    min-width: 30%;
}

input:not([type="submit"]),
select {
    padding: 1rem;
    display: block;
    width: 100%;
    background-color: #e1e1e1;
    margin-bottom: 2rem;
    border: none;
    border-radius: 1rem;
}

select {
    -webkit-appearance: none;
    appearance: none;
    text-align: center;
}

.form-control {
    text-align: center;
}

/******* CARRITO ******/
.cart-page {
    margin: 80px auto;
}

.tablaCarrito table,
.tablaCarrito td,
.tablaCarrito th,
.total-price table,
.total-price td,
.total-price th {
    border: none;
}

.cart-info {
    display: flex;
    flex-wrap: wrap;
}

.total-price table tbody tr {
    border-top: 3px solid coral !important;
    width: 100%;
    max-width: 350px !important;
}

.tablaCarrito th {
    text-align: center;
    padding: 5px;
    color: #ffffff;
    background: #ca4560;
    font-weight: normal;
}

.tablaCarrito td {
    padding: 25px 5px;
}

.tablaCarrito td input {
    padding: 5px;
    text-align: center;
}

.tablaCarrito td a {
    color: #ff0033;
    font-size: 12px;
}

.tablaCarrito td img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.total-price {
    display: flex;
    justify-content: flex-end;
}

.total {
    font-weight: bold;
    padding-bottom: 2rem;
}



/*****CARRITO - RESPONSIVE***/
@media (max-width:600px) {
    .cart-info p {
        display: none;
    }
}

.tituloCarrito {
    text-align: center;
}

.btn_carrito {
    margin: 0 5rem 5rem 5rem;
}

.botones_carrito {
    display: flex;
}