* {
    margin: 0;
    padding: 0;
}

.fondo-negro {
    background-color: #333333;
}

.dos-columnas-admin {
    display: grid;
    grid-template-columns: 20% 80%;
    /* column-gap: 2rem; */
}

.error {
    background-color: #ff6161;
    width: 70%;
    font-size: 10px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin: auto auto;
    padding: 0.2rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

#sidebar ul {
    background: #151719;
}

#sidebar ul {
    display: inline-block;
}

#sidebar ul li {
    color: #b4a6a6d7;
    text-align: center;
    padding: 15px 10px;
    list-style: none;
    cursor: pointer;
}