/**ICONOS NOSOTROS **/
.nosotros .row {
    display: flex;
    justify-content: space-between;
}

.nosotros .col-3 {
    flex-basis: calc(33.3% - 1rem);
    text-align: center;
}

.nosotros .col-3 h3 {
    text-transform: uppercase;
}

.nosotros .col-3 img {
    max-width: 10rem;
}