/**UTILIDADES**/
.seccion {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/**ICONOS NOSOTROS **/
.row {
    display: flex;
    justify-content: space-between;
}

.col-3 {
    flex-basis: calc(33.3% - 1rem);
    text-align: center;
}

.col-3 h3 {
    text-transform: uppercase;
}

.col-3 img {
    max-width: 10rem;
}