.container {
    width: 95%;
    padding: 2rem;
}

.row {
    display: flex;
    align-items: flex-start;
    justify-content: left;
}

/**************CREATE MENU ******/
.modal-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: -20px 0 50px;
}

.modal-container-menu {
    background: #fff;
    border-radius: 10px;
    position: relative;
    overflow: scroll;
    width: 768px;
    max-width: 100%;
    max-height: 520px;
}

.form-container-menu form {
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-row {
    min-width: 70%;
    display: flex;
    justify-content: space-between;
}

label {
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    min-width: 30%;
}

input:not([type="submit"]),
select {
    padding: 1rem;
    display: block;
    width: 100%;
    background-color: #e1e1e1;
    margin-bottom: 2rem;
    border: none;
    border-radius: 1rem;
}

select {
    -webkit-appearance: none;
    appearance: none;
    text-align: center;
}

.form-control {
    text-align: center;
}

.borde_arriba {
    outline-style: 2px solid rgb(238, 162, 48);
    margin: 2rem;
}

.borde_arriba h4::after {
    content: '';
    display: block;
    width: 45rem;
    height: .5rem;
    background-color: #71b100;
    margin-top: 1rem;
}

.tabla_ingredientes {
    max-width: 70%;
    margin: 2rem 0 3rem 0;
}

.btn_x {
    max-width: 30%;
    padding-top: 5px;
    cursor: pointer;
}

/***********GET MENUS **************/
.titulo {
    margin: 5px 0;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    width: 16.66%;
    padding: 0.25rem;
    text-align: center;
    border: 1px solid #ccc;
}

.boton_editar {
    background: rgb(93, 201, 72);
    border: none;
    width: 150px;
}

.boton_borrar {
    background: rgb(218, 46, 46);
    border: none;
    width: 150px;
}

@media (min-width: 768px) {
    .acciones {
        display: flex;
        justify-content: space-around;
    }

    .boton_editar {
        background: rgb(93, 201, 72);
        border: none;
        border-radius: 0px;
        padding: 10px 5px;
        min-width: 40%;
    }

    .boton_borrar {
        background: rgb(218, 46, 46);
        border: none;
        border-radius: 0px;
        padding: 10px 5px;
        min-width: 40%;
    }
}