.container {
    width: 95%;
    padding: 2rem;
}

.row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.input_buscador {
    max-width: 25rem;
    margin: 0 2rem;
}

.button_buscador {
    background-color: rgb(207, 205, 55);
    border: none;
    max-width: 20rem;
}

.buscador {
    display: flex;
    align-items: flex-start;

}